* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  position: relative;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #888686;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #02377e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1371ec;
}

.active {
  color: black;
}

.navbar {
  min-height: 70px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar-nav .nav-item .nav-link {
  color: #111111;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: .2rem;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #0659c5;
  margin-top: -3px;
}

.navbar-nav .nav-item .nav-link::after {
  content: " ";
  background-color: #0659c5;
  height: 3px;
  width: 0%;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

.fade-in {
  min-height: 60px;
  padding: 0 2rem;
  background-color: #0659c5;
}

.fade-in .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.mobile-nav {
  background-color: #0659c5;
}

.mobile-nav .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(253, 253, 253, 0.9)), to(rgba(255, 255, 255, 0.6))), url(../images/background.jpg);
  background-image: linear-gradient(rgba(253, 253, 253, 0.9), rgba(255, 255, 255, 0.6)), url(../images/background.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
}

.header-text {
  font-size: 6.5vw;
  margin-bottom: 2rem;
}

.header-content {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.header-content .glitch-container {
  display: inline;
  background-color: black;
}

.header-content .glitch {
  color: white;
  position: relative;
  -webkit-animation: glitch 2s steps(100) infinite;
          animation: glitch 2s steps(100) infinite;
}

.header-content .glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.header-content .glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.about-me {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f8f8f8;
}

.about-me .flex-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.about-me .flex-image #profile-holder {
  width: 250px;
  height: 250px;
  background-image: url(../images/profile-img.jpg);
  background-size: cover;
  border-radius: 100%;
  /*border: 1px solid black;*/
}

.about-me .about-title {
  position: relative;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#3a4e6d));
  background-image: linear-gradient(black, #3a4e6d);
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 5rem;
}

.about-me .flex-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me .flex-icons-container .flex-ico {
  font-size: 5rem;
  margin: 1rem;
}

.about-me .about-list {
  list-style-type: none;
}

.about-me .about-list li {
  margin-bottom: 2rem;
}

.portfolio {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .port-title {
  position: relative;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#3a4e6d));
  background-image: linear-gradient(black, #3a4e6d);
  -webkit-background-clip: text;
  font-weight: bold;
  text-align: center;
  font-size: 5rem;
}

.portfolio .flex-ports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .flex-ports-item1 {
  background-color: darkgreen;
  background-image: url(../images/cp1.png);
  background-size: cover;
  width: 33.7rem;
  margin: .5rem;
  position: relative;
  overflow: hidden;
}

.portfolio .flex-ports-item1 .h2cont {
  background-color: rgba(255, 0, 0, 0.349);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio .flex-ports-item1 .h2cont h2 {
  position: relative;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 3px solid #fff;
  padding: 5px;
  cursor: pointer;
}

.portfolio .flex-ports-item1 .h2cont h2 a {
  color: #fff;
  text-decoration: none;
}

.portfolio .flex-ports-item1 .h2cont h2:hover {
  background-color: #f6f6f6;
}

.portfolio .flex-ports-item1 .h2cont h2:hover a {
  color: #141414;
}

.portfolio .flex-ports-item1:hover .h2cont {
  left: 0;
}

.portfolio .flex-ports-item2 {
  background-color: darkred;
  background-image: url(../images/cp2.jpg);
  background-size: cover;
  width: 33.6rem;
  margin: .5rem;
  position: relative;
  overflow: hidden;
}

.portfolio .flex-ports-item2 .h2cont {
  background-color: rgba(255, 0, 0, 0.349);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio .flex-ports-item2 .h2cont h2 {
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 3px solid #fff;
  padding: 5px;
  cursor: pointer;
}

.portfolio .flex-ports-item2 .h2cont h2 a {
  color: #fff;
  text-decoration: none;
}

.portfolio .flex-ports-item2 .h2cont h2:hover {
  background-color: #f6f6f6;
}

.portfolio .flex-ports-item2 .h2cont h2:hover a {
  color: #141414;
}

.portfolio .flex-ports-item2:hover .h2cont {
  left: 0;
}

.portfolio .flex-ports-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .flex-ports-1-item1 {
  background-color: #c6d668;
  background-image: url(../images/cp1.png);
  width: 33.7rem;
  background-size: cover;
  margin: .5rem;
  position: relative;
  overflow: hidden;
}

.portfolio .flex-ports-1-item1 .h2cont {
  background-color: rgba(255, 0, 0, 0.349);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio .flex-ports-1-item1 .h2cont h2 {
  position: relative;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 3px solid #fff;
  padding: 5px;
  cursor: pointer;
}

.portfolio .flex-ports-1-item1 .h2cont h2 a {
  color: #fff;
  text-decoration: none;
}

.portfolio .flex-ports-1-item1 .h2cont h2:hover {
  background-color: #f6f6f6;
}

.portfolio .flex-ports-1-item1 .h2cont h2:hover a {
  color: #141414;
}

.portfolio .flex-ports-1-item1:hover .h2cont {
  left: 0;
}

.portfolio .flex-ports-1-item2 {
  background-color: #d65f5f;
  background-image: url(../images/cp2.jpg);
  width: 33.6rem;
  background-size: cover;
  margin: .5rem;
  position: relative;
  overflow: hidden;
}

.portfolio .flex-ports-1-item2 .h2cont {
  background-color: rgba(255, 0, 0, 0.349);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio .flex-ports-1-item2 .h2cont h2 {
  position: relative;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 3px solid #fff;
  padding: 5px;
  cursor: pointer;
}

.portfolio .flex-ports-1-item2 .h2cont h2 a {
  color: #fff;
  text-decoration: none;
}

.portfolio .flex-ports-1-item2 .h2cont h2:hover {
  background-color: #f6f6f6;
}

.portfolio .flex-ports-1-item2 .h2cont h2:hover a {
  color: #141414;
}

.portfolio .flex-ports-1-item2:hover .h2cont {
  left: 0;
}

.contact-me .map {
  overflow: hidden;
}

.contact-me .map iframe {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(68px, 9999px, 39px, 0);
  }
  5% {
    clip: rect(16px, 9999px, 19px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 36px, 0);
  }
  15% {
    clip: rect(79px, 9999px, 40px, 0);
  }
  20% {
    clip: rect(70px, 9999px, 96px, 0);
  }
  25% {
    clip: rect(45px, 9999px, 74px, 0);
  }
  30% {
    clip: rect(30px, 9999px, 17px, 0);
  }
  35% {
    clip: rect(26px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 55px, 0);
  }
  45% {
    clip: rect(41px, 9999px, 67px, 0);
  }
  50% {
    clip: rect(24px, 9999px, 29px, 0);
  }
  55% {
    clip: rect(31px, 9999px, 79px, 0);
  }
  60% {
    clip: rect(74px, 9999px, 40px, 0);
  }
  65% {
    clip: rect(1px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(23px, 9999px, 43px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 68px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 71px, 0);
  }
  85% {
    clip: rect(90px, 9999px, 82px, 0);
  }
  90% {
    clip: rect(20px, 9999px, 48px, 0);
  }
  95% {
    clip: rect(4px, 9999px, 56px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 88px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(68px, 9999px, 39px, 0);
  }
  5% {
    clip: rect(16px, 9999px, 19px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 36px, 0);
  }
  15% {
    clip: rect(79px, 9999px, 40px, 0);
  }
  20% {
    clip: rect(70px, 9999px, 96px, 0);
  }
  25% {
    clip: rect(45px, 9999px, 74px, 0);
  }
  30% {
    clip: rect(30px, 9999px, 17px, 0);
  }
  35% {
    clip: rect(26px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 55px, 0);
  }
  45% {
    clip: rect(41px, 9999px, 67px, 0);
  }
  50% {
    clip: rect(24px, 9999px, 29px, 0);
  }
  55% {
    clip: rect(31px, 9999px, 79px, 0);
  }
  60% {
    clip: rect(74px, 9999px, 40px, 0);
  }
  65% {
    clip: rect(1px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(23px, 9999px, 43px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 68px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 71px, 0);
  }
  85% {
    clip: rect(90px, 9999px, 82px, 0);
  }
  90% {
    clip: rect(20px, 9999px, 48px, 0);
  }
  95% {
    clip: rect(4px, 9999px, 56px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 88px, 0);
  }
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(1px, 9999px, 95px, 0);
  }
  5% {
    clip: rect(44px, 9999px, 90px, 0);
  }
  10% {
    clip: rect(73px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(84px, 9999px, 82px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 67px, 0);
  }
  25% {
    clip: rect(30px, 9999px, 64px, 0);
  }
  30% {
    clip: rect(65px, 9999px, 99px, 0);
  }
  35% {
    clip: rect(88px, 9999px, 4px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(77px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(45px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(17px, 9999px, 86px, 0);
  }
  60% {
    clip: rect(85px, 9999px, 92px, 0);
  }
  65% {
    clip: rect(79px, 9999px, 71px, 0);
  }
  70% {
    clip: rect(75px, 9999px, 97px, 0);
  }
  75% {
    clip: rect(67px, 9999px, 32px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 56px, 0);
  }
  85% {
    clip: rect(38px, 9999px, 60px, 0);
  }
  90% {
    clip: rect(21px, 9999px, 12px, 0);
  }
  95% {
    clip: rect(14px, 9999px, 57px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 16px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(1px, 9999px, 95px, 0);
  }
  5% {
    clip: rect(44px, 9999px, 90px, 0);
  }
  10% {
    clip: rect(73px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(84px, 9999px, 82px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 67px, 0);
  }
  25% {
    clip: rect(30px, 9999px, 64px, 0);
  }
  30% {
    clip: rect(65px, 9999px, 99px, 0);
  }
  35% {
    clip: rect(88px, 9999px, 4px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(77px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(45px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(17px, 9999px, 86px, 0);
  }
  60% {
    clip: rect(85px, 9999px, 92px, 0);
  }
  65% {
    clip: rect(79px, 9999px, 71px, 0);
  }
  70% {
    clip: rect(75px, 9999px, 97px, 0);
  }
  75% {
    clip: rect(67px, 9999px, 32px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 56px, 0);
  }
  85% {
    clip: rect(38px, 9999px, 60px, 0);
  }
  90% {
    clip: rect(21px, 9999px, 12px, 0);
  }
  95% {
    clip: rect(14px, 9999px, 57px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 16px, 0);
  }
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  1% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  2% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  3% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  4% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  5% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  6% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  7% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  8% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  9% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  10% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  11% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  12% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  13% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  14% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  16% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  17% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  18% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  19% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  21% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  22% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  23% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  24% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  26% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  27% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  28% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  29% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  31% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  32% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  33% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  34% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  36% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  37% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  38% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  39% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  41% {
    text-shadow: 50px 0 0 blue, -50px 0 0 lime;
  }
  42% {
    text-shadow: 0 0 0 blue, 0 0 0 lime;
  }
  43% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  44% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  45% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  46% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  47% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  48% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  49% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  50% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  51% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  52% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  53% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  54% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  55% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  56% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  57% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  58% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  59% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime;
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime;
  }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  64% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  65% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  68% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  69% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  70% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  71% {
    text-shadow: 70px 0 0 red, -70px 0 0 blue;
  }
  72% {
    text-shadow: 0 0 0 red, 0 0 0 blue;
  }
  73% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  74% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  75% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  76% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  77% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  78% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  79% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  80% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  81% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  82% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  83% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  84% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  85% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  86% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  87% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  88% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  89% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  90% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  91% {
    text-shadow: 60px 0 0 lime, -60px 0 0 blue;
  }
  92% {
    text-shadow: 0 0 0 lime, 0 0 0 blue;
  }
  92% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  93% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  94% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  95% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  96% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  97% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  98% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  99% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  100% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  1% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  2% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  3% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  4% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  5% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  6% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  7% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  8% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  9% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  10% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  11% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  12% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  13% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  14% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  15% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  16% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  17% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  18% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  19% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  20% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  21% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  22% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  23% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  24% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  25% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  26% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  27% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  28% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  29% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  30% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  31% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  32% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  33% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  34% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  35% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  36% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  37% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  38% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  39% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  40% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  41% {
    text-shadow: 50px 0 0 blue, -50px 0 0 lime;
  }
  42% {
    text-shadow: 0 0 0 blue, 0 0 0 lime;
  }
  43% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  44% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  45% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  46% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  47% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  48% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  49% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  50% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  51% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  52% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  53% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  54% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  55% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  56% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  57% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  58% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  59% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  60% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  61% {
    text-shadow: 30px 0 0 red, -30px 0 0 lime;
  }
  62% {
    text-shadow: 0 0 0 red, 0 0 0 lime;
  }
  63% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  64% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  65% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  66% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
  }
  67% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  68% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  69% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  70% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  71% {
    text-shadow: 70px 0 0 red, -70px 0 0 blue;
  }
  72% {
    text-shadow: 0 0 0 red, 0 0 0 blue;
  }
  73% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  74% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  75% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  76% {
    text-shadow: 1px 0 0 red, -1px 0 0 blue;
  }
  77% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  78% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  79% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  80% {
    text-shadow: -1px 0 0 red, 1px 0 0 blue;
  }
  81% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  82% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  83% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  84% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  85% {
    text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
  }
  86% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  87% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  88% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  89% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  90% {
    text-shadow: -1px 0 0 red, 1px 0 0 lime;
  }
  91% {
    text-shadow: 60px 0 0 lime, -60px 0 0 blue;
  }
  92% {
    text-shadow: 0 0 0 lime, 0 0 0 blue;
  }
  92% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  93% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  94% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  95% {
    text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
  }
  96% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  97% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  98% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  99% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
  100% {
    text-shadow: -1px 0 0 blue, 1px 0 0 lime;
  }
}

@media screen and (max-width: 1024px) {
  .flex-ports,
  .flex-ports-1 {
    height: 50rem !important;
  }
}

@media screen and (max-width: 601px) {
  .header-text {
    font-size: 10vw;
  }
  .about-title,
  .port-title {
    font-size: 3rem !important;
  }
}
