* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    position: relative;
    overflow-y: scroll;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #888686; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #02377e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1371ec; 
}
.active {
  color: black;
}

.navbar {
    min-height: 70px;
    // border-bottom: 2px solid #0659c5;
    // background-color: rgba(0, 0, 0, 0.383);
    transition: all .2s;
    &-nav {
        .nav-item .nav-link{
            color: #111111;
            text-transform: uppercase;
            line-height: 1.3;
            letter-spacing: .2rem;
            font-size: 1rem;
            font-weight: 700;
            transition: all .3s;
            &:hover {
                color: #0659c5;
                margin-top: -3px;
                
            }
            &::after {
                content: " ";
                background-color: #0659c5;
                height: 3px;
                width: 0%;
                display: block;
                transition: all .3s;
            }
            &:hover::after {
                width: 100%;
            }
        }
        
    }
}
.fade-in {
  min-height: 60px;
  padding: 0 2rem;
  background-color: #0659c5;
  .navbar-nav {
    .nav-item .nav-link{
      color: #fff;
    }
  }
}

.mobile-nav {
  background-color: #0659c5;
  .navbar-nav {
    .nav-item .nav-link{
      color: #fff;
    }
  }
}

.header {
    background-image: linear-gradient(rgba(253, 253, 253, 0.9) ,rgba(255, 255, 255, 0.6)), url(../images/background.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: top;
    // clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    position: relative;
    &-text {
        font-size: 6.5vw;
        margin-bottom: 2rem;
    }
    &-content {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-40%);
        .glitch-container {
            display: inline;
            background-color: black;
            
        }
        .glitch{
            color:white;
            position: relative;
            animation:glitch 2s steps(100) infinite;
        }
        .glitch:after{
            content:attr(data-text);
            position:absolute;
            left:2px;
            text-shadow:-1px 0 red;
            top:0;
            color:white;
            background:black;
            overflow:hidden;
            // width: 900px;
            clip:rect(0,900px,0,0); 
            animation:noise-anim 2s infinite linear alternate-reverse;
        }
        .glitch:before{
            content:attr(data-text);
            position:absolute;
            left:-2px;
            text-shadow:1px 0 blue; 
            top:0;
            color:white;
            background:black;
            overflow:hidden;
            clip:rect(0,900px,0,0); 
            animation:noise-anim-2 3s infinite linear alternate-reverse;
        }
        
    }
}



.about-me {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f8f8f8;
  .flex-image {
    display: flex;
    justify-content: center;
    align-items: center;
    
    #profile-holder {
    
      width: 250px;
      height: 250px;
      background-image: url(../images/profile-img.jpg);
      // background-color: red;
      background-size: cover;
      border-radius: 100%;
      /*border: 1px solid black;*/
    }
    margin-bottom: 1rem;
  }
  .about-title {
    position: relative;
    color: transparent;
    background-image: linear-gradient( rgb(0, 0, 0), rgb(58, 78, 109));
    -webkit-background-clip:text;
    // z-index: 2;
    font-weight: bold;
    font-size: 5rem;
  }
  .flex-icons-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    .flex-ico {
      font-size: 5rem;
      margin: 1rem;
    }
  }
  .about-list {
    list-style-type: none;
    li {
      margin-bottom: 2rem;
    }
  }
}

.portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background-color: blue;
  .port-title {
    position: relative;
    color: transparent;
    background-image: linear-gradient( rgb(0, 0, 0), rgb(58, 78, 109));
    -webkit-background-clip:text;
    // z-index: 2;
    font-weight: bold;
    text-align: center;
    font-size: 5rem;
  }
  .flex-ports{
    display: flex;
    height: 25rem;
    flex-wrap: wrap;
    // background-color: red;
    justify-content: center;
    &-item1 {
      background-color: darkgreen;
      // flex: 1;
      background-image: url(../images/cp1.png);
      background-size: cover;
      width: 33.7rem;
      margin: .5rem;
      position: relative;
      overflow: hidden;
      .h2cont {
        background-color: rgba(255, 0, 0, 0.349);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -100%;
        transition: all .3s;
        h2 {
          position: relative;
          color: #fff;
         transition: all .3s;
         border: 3px solid #fff;
         padding: 5px;
         cursor: pointer;
         a {
          color: #fff;
          text-decoration: none;
         }
          &:hover {
            background-color: #f6f6f6;
            
          }
          &:hover a {
            color: rgb(20, 20, 20);
          }
        }
      }
      &:hover .h2cont {
        left: 0;
      }
    }
    &-item2 {
      background-color: darkred;
      background-image: url(../images/cp2.jpg);
      background-size: cover;
      width: 33.6rem;
      margin: .5rem;
      position: relative;
      overflow: hidden;
      .h2cont {
        background-color: rgba(255, 0, 0, 0.349);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -100%;
        transition: all .3s;
        h2 {
          position: relative;
         transition: all .3s;
         border: 3px solid #fff;
         padding: 5px;
         cursor: pointer;
         a {
          color: #fff;
          text-decoration: none;
         }
          &:hover {
            background-color: #f6f6f6;
            
          }
          &:hover a {
            color: rgb(20, 20, 20);
          }
        }
      }
      &:hover .h2cont {
        left: 0;
      }
    }
  }
  .flex-ports-1{
    display: flex;
    height: 25rem;
    flex-wrap: wrap;
    // background-color: rgb(0, 255, 13);
    justify-content: center;
    &-item1 {
      background-color: rgb(198, 214, 104);
      background-image: url(../images/cp1.png);
      width: 33.7rem;
      background-size: cover;
      // flex: 1;
      margin: .5rem;
      position: relative;
      overflow: hidden;
      .h2cont {
        background-color: rgba(255, 0, 0, 0.349);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -100%;
        transition: all .3s;
        h2 {
          position: relative;
          color: #fff;
         transition: all .3s;
         border: 3px solid #fff;
         padding: 5px;
         cursor: pointer;
         a {
          color: #fff;
          text-decoration: none;
         }
          &:hover {
            background-color: #f6f6f6;
            
          }
          &:hover a {
            color: rgb(20, 20, 20);
          }
        }
      }
      &:hover .h2cont {
        left: 0;
      }
    }
    &-item2 {
      background-color: rgb(214, 95, 95);
      background-image: url(../images/cp2.jpg);
      width: 33.6rem;
      background-size: cover;
      // flex: 1;
      margin: .5rem;
      position: relative;
      overflow: hidden;
      .h2cont {
        background-color: rgba(255, 0, 0, 0.349);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -100%;
        transition: all .3s;
        h2 {
          position: relative;
          color: #fff;
         transition: all .3s;
         border: 3px solid #fff;
         padding: 5px;
         cursor: pointer;
         a {
          color: #fff;
          text-decoration: none;
         }
          &:hover {
            background-color: #f6f6f6;
            
          }
          &:hover a {
            color: rgb(20, 20, 20);
          }
        }
      }
      &:hover .h2cont {
        left: 0;
      }
    }
  }
}

.contact-me {
  // min-height: 100vh;
  // background-color: red;
  .map {
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.footer-main {
  background-color: rgb(14, 27, 70);
  color: #fff;
  .footer-copyright {
     background-color: #0c1022;
  }
}

// ===================================================================================
// ===================================================================================
// ===================================================================================


@keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(105)+px,9999px,random(100)+px,0);
      }
    }
  }
  
  @keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  
  
  $r: rgba(255,0,0,1); $g: rgba(0,255,0,1); $b: rgba(0,0,255,1); $px: 0; $px2:0;
  
  @mixin mini-glitch($c1, $c2, $coeff, $start, $end){
    $interval: $end - $start;
    @for $i from $start through $end {
      #{$i * 1%} {   
        @if $i < $start + ($interval/2){
          $px : $px + $coeff;$px2: -$px;   
          text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
        }
        @else{
          $px : $px - 1;$px2: -$px;  
          text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
        } 
      }
    }
    $px: 0;$px2: 0;
  }
  
  @mixin big-glitch($c1, $c2, $distance, $start, $end){
    @for $i from $start through $end {   
      #{$i * 1%} {
        @if $i == $end {
            text-shadow: 0 0 0 $c1, 0 0 0 $c2;
        }
        @else{   
            $px : $distance;$px2: -$px;
            text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
        }
      }
    }
    $px: 0;$px2: 0;
  }
  
  @keyframes glitch {
    @include mini-glitch($r, $b, 1, 0, 10);
    @include mini-glitch($r, $g, 0.5, 11, 20);  
    @include mini-glitch($b, $g, 0.7, 21, 40);
    
    @include big-glitch($b, $g, 50, 41, 42);
    
    @include mini-glitch($r, $g, 0.5, 43, 50); 
    @include mini-glitch($r, $b, 1, 51, 60);
    
    @include big-glitch($r, $g, 30, 61, 62); 
    
    @include mini-glitch($r, $b, 0.5, 63, 70);
    
    @include big-glitch($r, $b, 70, 71, 72);
    
    @include mini-glitch($r, $b, 1, 73, 80);
    @include mini-glitch($r, $g, 0.5, 81, 90);
  
    @include big-glitch($g, $b, 60, 91, 92);
    
    @include mini-glitch($b, $g, 0.7, 92, 100);
}
  

@media screen and (max-width: 1024px) {
  .flex-ports,
  .flex-ports-1 {
    height: 50rem !important;
  }
}

@media screen and (max-width: 601px) {
  .header-text {
    font-size: 10vw;
  }
  .about-title,
  .port-title {
    font-size: 3rem !important;
  }
}
// @media screen and (min-width: 601px) and (max-width: 1024px) {
//   .header-text {
//     font-size: 5rem;
//   }
// }